<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModal">You're on the nice list, tell Santa what you want!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="newItemInput">Item Name</label>
                <input type="text" placeholder="Ex: Two Front Teeth" name="newItem" id="newItem" class="form-input" />
                {{#if addMoreItems}}
                    <label for="newItemInput">Item Name</label>
                    <input type="text" placeholder="Ex: Two Front Teeth" name="newItem" id="newItem" class="form-input" />
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="add-item-btn">Add to my List</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>