<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteItemModal">I've changed my mind, I don't want this anymore.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="deleteItemInput">Name of Item</label>
                <input type="text" placeholder="Ex: Chicago Bears Merch" name="deleteItem" id="deleteItem" class="form-input" />
            </div>
            <div class="modal-footer">
                <button type="button" class="delete-btn">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>