
<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModal">I need to edit this item!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="editItemModal">Item Name</label>
                <input type="text" placeholder="Ex: Peloton" name="editItem" id="editItem" class="form-input" />
                {{#if editMoreItems}}
                    <label for="newItemInput">Item Name</label>
                    <input type="text" placeholder="Ex: Peloton" name="editItem" id="editItem" class="form-input" />
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="edit-item-btn">Done making Changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>