
<section class="dashboard-body">
  <div class="cta">
    <div class="cta-text"></div>
  </div>
  <div class="user-code">
    <h1>Your group code: {{team.team_code}}</h1>
  </div>
  <div class="container-fluid">
    <div class="card-deck">
      <a href="/dashboard/groups">
        <div class="card" id="group-card">
          <div class="card-img-caption">
            <p class="card-title">Group Members</p>
            <img class="card-img" id="group-img" src="/stylesheets/images/gingerbread.jpg">
          </div>
        </div>
      </a>
      <a href="/dashboard/lists">
        <div class="card" id="list-card">
          <div class="card-img-caption">
            <p class="card-title">Your Wishlist</p>
            <img class="card-img" id="group-img" src="/stylesheets/images/presents.jpg">
          </div>
        </div>
      </a>
      <a href="/dashboard/recipes">
        <div class="card" id="food-card">
          <div class="card-img-caption">
            <p class="card-title">Christmas Meal Recipes</p>
            <img class="card-img" id="group-img" src="/stylesheets/images/feast.jpg">
          </div>
        </div>
      </a>
      <a href="/dashboard/drinks">
        <div class="card" id="drink-card">
          <div class="card-img-caption">
            <p class="card-title">Christmas Cocktails and Cordials</p>
            <img class="card-img" id="group-img" src="/stylesheets/images/cocktails.jpg">
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
