<div class="edit-add-container">
    <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
    <button onclick="window.location.href='/api/drinks'">My drinks to view, add, and edit</button>
</div>

<section class="db-groups">
        <div class="card-group">
            <h2>Drinks</h2>
        </div>
            {{#each drinks as |drink|}}
            <div class="card">
                <div class="card-title">
                    {{#each team.users as |user|}}
                    {{#each user.drinks as |drink|}}
                    <h4>Drink Name: {{this.drink_name}}</h4>
                <div class="card-body">
                    <p>Ingredients: {{this.ingredients}}</p>
                    <p>Instructions: {{this.instructions}}</p>
                    <p>Created By: {{user.username}}</p>
                    {{/each}}
                </div>
                {{/each}}
                </div>
            </div>
            {{/each}}
</section>

