<div class="edit-container">
    
    {{!-- {{#if drinks}} --}}
    <section class="db-groups">
        <div class="card-group">
            <h2>Drinks</h2>
        </div>
            {{#each drinks as |drink|}}
            <div class="card">
                <div class="card-title">
                    <h4>Drink Name: {{this.drink_name}}</h4>
                </div>
                <div class="card-body">
                    <p>Ingredients: {{this.ingredients}}</p>
                    <p>Instructions: {{this.instructions}}</p>
                    <p>Created By: {{user.username}}</p>
                </div>
            </div>
            {{/each}}
    </section>
    {{!-- {{/if}} --}}
