<main>
     <div class="edit-add-container">
         <button class="add-list-item" data-bs-toggle="modal" data-bs-target="#addItemModal">Add an Item to Your List</button>
         <button class="edit-list-item" data-bs-toggle="modal" data-bs-target="#editItemModal">Edit an Item on Your List</button>
         <button class="delete-list-item" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete an Item From Your List</button>
     </div>
    <section class="db-groups">
        <div class="card-group">
            {{#each drink as |drink|}}
            <div class="card">
                <div class="card-title">
                    {{drink_name}}
                </div>
                <div class="card-body">
                    {{ingredients}}
                    {{instructions}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>

