<section class="db-groups">
  <div class="card-group">
    <h2>My Wishlist</h2>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>
        <input name="list-name" type="text" value="{{lists.list_name}}" />
    </div>
    <div class="card-body">
        <input name="list-items" type="text" value="{{lists.list_items}}" />
    </div>
  </div>
</section>

<div class="btn">
    <button type="submit" id="save-list">Save list</button>
    <button type="button" id="delete-list">Delete list</button>
</div>
</div>

<script src="/javascript/edit-list.js"></script>