<section class="db-groups">
  <div class="card-group">
    <h2>My Drinks</h2>
  </div>
  <div class="card">
    <div class="card-title">
      <h4>Drink Name:</h4>
      <input name="drink-name" type="text" value="{{drinks.drink_name}}" />
    </div>
    <div class="card-body">
    <h5>Ingredients:</h5>
      <input name="drink-ingredients" type="text" value="{{drinks.ingredients}}" />
    <h5>Instructions: </h5>
      <input name="drink-instructions" type="text" value="{{drinks.instructions}}" />
    <h5>Created By: </h5>
      <input name="drink-user" type="text" value="{{drinks.user.username}}" />
    </div>
  </div>

</section>

    <div class="btn">
      <button type="submit" id="save-drink">Save drink</button>
      <button type="button" id="delete-drink">Delete drink</button>
    </div>
    </div>


<script src="/javascript/edit-drink.js"></script>