<form class="group-form">
    <label for="group-name">Create a Group Name</label>
    <input type="group-name" placeholder="Group Name" name="group-name" id="group-name" class="form-input"/>
    <p id="group-code"></p>
    <button onclick="window.location.href='/dashboard'">
        {{!-- type="submit" class="form-submit" id="login-btn"> --}}
        Go to my group dashboard
    </button>
</form>

<script src="/javascript/group-code.js"></script>
