<main>
    <section class="db-groups">
        <div class="card-group">
            {{#each users as |user|}}
            <div class="card">
            <div class="card-title">
                {{username}}
            </div>
            <div class="card-body">
                {{list}}
            </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>

