<div class="content-container">
  <section class="container-fluid">
    <div class="edit-add-container">
      <button class="add-list-item" data-bs-toggle="modal" data-bs-target="#addItemModal">Add an Item to Your
        List</button>
      <button class="edit-list-item" data-bs-toggle="modal" data-bs-target="#editItemModal">Edit an Item on Your
        List</button>
      <button class="delete-list-item" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete an Item From
        Your List</button>
      {{> add}}
      {{> edit}}
      {{> delete}}
    </div>

    {{!-- {{#if list}} --}}
    <div>
    <div class="content-wrapper">
        <h2>Wishlists</h2>
    </div>
    <div>
      <ul class="wishlist">
        {{!-- {{#each this}} --}}
        {{!-- {{#each list}} --}}
        <div class="content-title">
            <h3>Joanna's List {{list.list_name}}</h3>
        </div>
        <li>
            <p> purse  {{list.list_item}}</p>
        </li>
        {{!-- {{/each}} --}}
      </ul>
    </div>
    </div>
    {{!-- {{/if}} --}}
  </section>
</div>
