<div class="content-container">
    <div class="edit-add-container">
      <button class="add-list-item" data-bs-toggle="modal" data-bs-target="#addItemModal">Add an Item to Your
        List</button>
      <button class="edit-list-item" data-bs-toggle="modal" data-bs-target="#editItemModal">Edit an Item on Your
        List</button>
      <button class="delete-list-item" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete an Item From
        Your List</button>
      <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
      {{> add}}
      {{> edit}}
      {{> delete}}
    </div>
</div>

    {{!-- {{#if list}} --}}
    <section class="db-groups">
        <div class="card-group">
            <h2>Wishlists</h2>
        </div>
            {{#each lists as |list|}}
            <div class="card">
                <div class="card-title">
                    <h3>{{this.list_name}}</h3>
                </div>
                <div class="card-body">
                {{!-- <ul class="wishlist"> --}}
                    <p>{{this.list_items}}</p>
                {{!-- </ul> --}}
                </div>
                </div>
            {{/each}}
    </section>
    {{!-- {{/if}} --}}

