<main>
  <section>
      <form class="login-form">
        <label for="password">Enter Your Festive Username:</label>
        <input type="username" placeholder="Username" name="username" id="username" class="form-input"/>
        <label for="password">Enter your password:</label>
         <button type="submit-info" class="form-submit" id="login-btn">
          Spread Holiday Cheer!
        </button>
  </section>
</main>