<div class="content-container">
    <div class="edit-add-container">
        <button class="add-list-item" data-bs-toggle="modal" data-bs-target="#addItemModal">Add a Drink to Your
            List</button>
        <button class="edit-list-item" data-bs-toggle="modal" data-bs-target="#editItemModal">Edit a Drink on Your
            List</button>
        <button class="delete-list-item" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete a Drink From
            Your List</button>
        <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
        <button onclick="window.location.href='/dashboard/drinks'">Return to Drinks</button>
        {{> add}}
        {{> edit}}
        {{> delete}}
    </div>
</div>

<section class="db-groups">
    <div class="card-group">
            <h2>My Drinks</h2>
        </div>
            {{#each drinks as |drink|}}
            <div class="card">
                <div class="card-title">
                    <h4>Drink Name: {{this.drink_name}}</h4>
                </div>
                <div class="card-body">
                    <p>Ingredients: {{this.ingredients}}</p>
                    <p>Instructions: {{this.instructions}}</p>
                    <p>Created By: {{user.username}}</p>
                </div>
            </div>
            {{/each}}
</section>