<div class="edit-add-container">
  <div class="container-form">
    <div class="addContainer" id="add-container">
      {{!-- <button class="add-list-item" id="newList">Add an Item to Your List</button> --}}
    </div>
    <div class="inputContainer">
        <label for="newListName">List Name</label>
        <input type="text" placeholder="Ex: Jim Bob's List" name="newListName" id="newListName" class="form-input" />
        <label for="newListItems">Item Name</label>
        <input type="text" placeholder="Ex: Hot Cheetos" name="newListItems" id="newListItems" class="form-input" />
        <button type="submit" class="add-list-item" id="addList">Add Item to Your List</button>
    </div>
  </div>
  <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
  <button onclick="window.location.href='/dashboard/lists'">Return to Lists</button>
</div>

<section class="db-groups">
  <div class="card-group">
    <h2>My Wishlist</h2>
  </div>
  {{#each lists as |list|}}
  <div class="card">
    <div class="card-title">
      <h3>
        <a href='/api/lists/edit/{{id}}'>{{this.list_name}}</a></h3>
    </div>
    <div class="card-body">
      <p>{{this.list_items}}</p>
    </div>
  </div>
  {{/each}}
</section>

<script src="/javascript/add-list.js"></script>

