<div class="edit-add-container">
    <button class="add-list-item" data-bs-toggle="modal" data-bs-target="#addItemModal">Add an Item to Your
        List</button>
    <button class="edit-list-item" data-bs-toggle="modal" data-bs-target="#editItemModal">Edit an Item on Your
        List</button>
    <button class="delete-list-item" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete an Item From
        Your List</button>
    {{> add}}
    {{> edit}}
    {{> delete}}
</div>
{{!-- {{#if recipes}} --}}
<section class="db-groups">
    <div class="card-group">
        <h2>Recipes</h2>
    </div>
        {{!-- {{#each recipes as |recipe|}} --}}
        <div class="card">
            <div class="card-title">
                <h4>Recipe Name: {{recipe_name}}</h4>
            </div>
            <div class="card-body">
                <p>Ingredients: {{ingredients}}</p>
                <p>Instructions: {{instructions}}</p>
                <p>Created By: {{user.username}}</p>
            </div>
        </div>
        {{!-- {{/each}} --}}
</section>
{{!-- {{/if}} --}}
</div>