     <div class="edit-add-container">
         <button class="add-list-item" data-bs-toggle="modal" data-bs-target="#addItemModal">Add a new Recipe</button>
         <button class="edit-list-item" data-bs-toggle="modal" data-bs-target="#editItemModal">Edit an Existing</button>
         <button class="delete-list-item" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete a Recipe</button>
     </div>
    <section class="db-groups">
        <div class="card-group">
        {{#each recipes as |recipe|}}
            <div class="card">
                <div class="card-title">
                    {{recipe_name}}
                </div>
                    <div class="card-body">
                    {{ingredients}}
                    {{instructions}}
                </div>
            </div>
        {{/each}}
        </div>
    </section>


