<main>
    <section class="db-groups">
        <div class="card-group">
        {{#each recipes as |recipe|}}
            <div class="card">
                <div class="card-title">
                    {{recipe_name}}
                </div>
                    <div class="card-body">
                    {{ingredients}}
                    {{instructions}}
                </div>
            </div>
        {{/each}}
        </div>
    </section>
</main>

