<div class="edit-add-container">
    <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
    <button onclick="window.location.href='/api/recipes'">My recipes to view, add, and edit</button>
</div>

<section class="db-groups">
    <div class="card-group">
        <h2>Recipes</h2>
    </div>
        {{#each food as |food|}}
        <div class="card">
            <div class="card-title">
            {{#each team.users as |user|}}
            <p>Created By: {{this.username}}</p>
        </div>
            <div class="card-body">
                {{#each user.recipes as |recipe|}}
                <p>Recipe Name: {{this.recipe_name}}</p>
                <p>Ingredients: {{this.ingredients}}</p>
                <p>Instructions: {{this.instructions}}</p>
                {{/each}}
            </div>
        {{/each}}
        </div>
        {{/each}}
        </div>
</section>


