<section class="hero">
    <div class="hero-img-div">
        <img class="hero-image" src="./stylesheets/images/main-bg.jpg" alt="Hero Image">
    </div>
    <div class="hero-overlay-div"></div>
    <div class="hero-cta">
        <div class="hero-text">
            <div class="cta-title">
                <h1 id="countdown"></h1>
            </div>

            <p class="cta-intro">
                <span class="cta-span">'Tis the season</span> to come together with your family members and celebrate
                the holidays. Connect with them here to share your Christmas wish list, as well as family recipes and
                delicious drinks.
            </p>
        </div>

        <form class="signup-form">
            <label for="username">Create a festive username:</label>
            <input type="text" placeholder="Username" name="username" id="username" class="form-input"/>
            <label for="email">Enter email address:</label>
            <input type="email" placeholder="Email Address" name="email" id="email" class="form-input"/>
            <label for="password">Enter a secure password:</label>
            <input type="password" placeholder="Password" name="password" id="password" class="form-input" />
            <p class="cta-question">Would you like to create a group or join an existing group?
            </p>
            <div class="confirm-wrapper">
                <div class="radio-wrapper">
                    <input type="radio" name="group-confirm" id="create-group" />
                    <label for="create-group">Create a Group</label>
                </div>

                <div class="radio-wrapper">
                    <input type="radio" name="group-confirm" id="join-group" />
                    <label for="join-group">Join a Group</label>
                    <div class="code-container"></div>
                    {{!-- <label for="group-code">Enter your Group's Code</label>
                     <input type="text" name="group-code"class="form-input" id="group-input" > --}}
                </div>
                <button type="submit" class="form-submit" id="signup-btn">
                    Spread Holiday Cheer!
                </button>
<!--
                    {{#if joinGroup}}
                        <input type="number" name="group-code"class="form-input" id="group" >
                        <label for="group-number">Enter your Group's Code</label>
                    {{/if}} -->
            </div>
        </form>
    </div>
</section>

<script src="/javascript/sign-up.js"></script>
