{{!-- {{#if teams}} --}}
 <section class="container-fluid">
      <div class="content-wrapper">
        <div>
          <h4>Groups</h4>
        </div>
        <ol class="members">
            {{!-- {{#each teams as |team|}}  --}}
            <div class="content-title">
            <li>
            <div class="content-text">
                <ol class="content-list" id="wishlist">
                  <p>Jim Bob {{user.username}} </p>
                </ol>
            </div>
            </li>
            </div>
           {{!-- {{/each}}  --}}
        </ol>
    </div>
  </section>  
{{!-- {{/if}} --}}

