$primary-color: #0f4c81;
$accent-color: #9B2335;
$gold-font-1: #AE8625;
$gold-font-2: #F7EF8A;
$black-font: #0000;
$white-font: white;
$shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #fff, 0 0 0.6em#fff, 0 0 0.8em #fff, 0 0 1em#fff, 0 0 1.2em#fff;
$main-font: 'Tangerine', serif;
$secondary-font: 'Oswald', sans-serif;


@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&effect=neon');

.edit-add-container {
    background-color: rgba($color: $gold-font-1, $alpha: .60) ;
    border: solid 5px rgba($color: $gold-font-2, $alpha: .50);
    align-content: center;
    justify-content: center;
    margin: 8% 3% 8% 3%;
    padding: 5pt;

    .form-input {
        display: block;
        font-size: 16px;
        line-height: 5px;
        font-family: $secondary-font;
        border: none;
        width: 50%;
        padding: 7px;
        margin-bottom: 10px;
        background-color: rgba(255,255,255, 0.5);
                &:focus {
                    background-color: rgba(255,255,255, 1);
                  }
                &:hover {
                    background-color: rgba(255,255,255, 1);
                    outline: none;
                }
    }

    label {
        font-family: $secondary-font;
        font-size: calc(15pt + 0.15vw);
    }

    button {
        font-family: $secondary-font;
        font-size: calc(13pt + 0.15vw);
        padding: 5pt;
        color: $gold-font-1;
        background: #0c2d1c;
        border: none;
        height: 50px;
        margin: 15pt;

            &:hover {
                background-color: $accent-color;
                transition: margin-right 4s 1s;
                font-size: calc(15pt + 0.15vw);
            }
    }
}

.db-groups {
    font-family: $secondary-font;
    padding: 20pt;

    .card {
        padding: 10pt;
    }
}