<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Santa's Helper</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Santa's Helper</a>
      </h1>     
      <nav>
          <button id="logout" class="btn-no-style">logout</button>
          <a href="/login">login</a>
      </nav>        
    </header>
    <hero>
        <h1>`Days Until Christmas</h1>
    </hero>
    <main>
      {{{ body }}}
    </main>
    <footer>
      JJM INC 2020
    </footer>
  </div>
<script src="/javascript/logout.js"></script>
</body>

</html>   