@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tangerine&effect=neon");
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9B2335;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  z-index: 9999;
  min-width: 100%;
}

.header-img-div .header-img {
  height: auto;
  padding-top: 0;
  float: left;
}

nav {
  margin: 7px 0;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul .log-btn {
  display: inline;
  padding: 10px 15px;
  float: right;
}
nav ul .log-btn button {
  background: none;
  text-decoration: none;
  border: none;
  color: #AE8625;
  font-size: calc(30pt + 0.15vw);
  font-family: "Tangerine", serif;
}
nav ul .log-btn a {
  text-decoration: none;
  color: #AE8625;
  font-size: calc(30pt + 0.15vw);
  font-family: "Tangerine", serif;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
}
.hero .hero-img-div {
  grid-area: 1/1/2/2;
}
.hero .hero-img-div .hero-image {
  grid-area: 1/1/2/2;
  display: grid;
  object-fit: cover;
}
.hero .hero-overlay-div {
  display: grid;
}
.hero .hero-text-div {
  grid-area: 1/1/2/2;
}
.hero .hero-text-div .hero-text {
  display: grid;
  align-items: center;
  margin-left: 50%;
  margin-right: 15px;
  margin-top: 10%;
}
.hero .hero-text-div .cta {
  font-size: calc(20pt + 0.15vw);
  letter-spacing: 0.05em;
  font-style: italic;
  color: white;
}
.hero .hero-text-div .cta .cta-span {
  font-size: calc(23pt + 0.15vw);
  letter-spacing: 0.05em;
  font-style: italic;
  color: #AE8625;
}
.hero h1 {
  font-size: calc(40pt + 0.15vw);
  letter-spacing: 0.05em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #AE8625;
}
.hero h1:hover {
  font-size: calc(45pt + 0.15vw);
  font-weight: bold;
  color: #AE8625;
}
.hero h2 {
  font-size: calc(30pt + 0.15vw);
  letter-spacing: 0.05em;
  color: #F7EF8A;
}
.hero h2:hover {
  font-size: calc(45pt + 0.15vw);
  font-weight: bold;
  color: #AE8625;
}

.card-deck {
  padding: 50px 0px 50px 0px;
}
.card-deck .card:hover {
  transform: scale(1.3);
  z-index: 2;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #fff, 0 0 0.6em #fff, 0 0 0.8em #fff, 0 0 1em #fff, 0 0 1.2em #fff;
  background-color: rgba(12, 45, 28, 0.75);
}
.card-deck .card .card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  z-index: 0;
}
.card-deck .card .card-img {
  z-index: 0;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.card-deck .card .card-text {
  text-align: center;
  width: 100%;
  position: absolute;
  background-color: rgba(12, 45, 28, 0.75);
  z-index: 1;
  font-size: calc(30pt + 0.15vw);
  color: #F7EF8A;
  font-family: "Tangerine", serif;
}
.card-deck .card .card-text:hover {
  padding: 33% 0;
}

footer {
  background-color: #9B2335;
  color: #F7EF8A;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width : 768px) {
  header {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
}